@import '../../../../styles/typography.scss';
@import '../../../../styles/colors';

.profile-content {
  max-width: 600px;
  margin: 0 auto;
}

.profile-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.balance {
  font-size: 4rem;
  color: black;
  margin-bottom: 30px;

  .balance-label {
    font-size: 1.5rem;
    color: $primary-400;
    margin-left: 5px;
  }
}

.profile-info {
  .info-row {
    display: flex;
    margin-bottom: 15px;
  }

  .user-label {
    flex: 0 0 120px; // Fixed width for labels
    color: $gray-700;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500; // Medium
    line-height: 150%;
  }

  .user-info {
    flex: 1;
    color: $gray-300;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400; // Regular
    line-height: 150%;
  }
}


// Use the mixins in your styles
h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

.title {
  @include title;
}

.title-2 {
  @include title2;
}

.small-title {
  @include small-title;
}

.small-title-2 {
  @include small-title2;
}

p {
  @include paragraph;
}

p.bold {
  @include paragraph-bold;
}

.body {
  @include body;
}

.body.medium {
  @include body-medium;
}

.small-font {
  @include small-font;
}
