<div class="profile-content">
  <h1 class="profile-title small-title-2">My Profile</h1>
  <h1 class="h1 balance">10000EGP<span class="balance-label small-title">Balance</span></h1>

  <p><strong class="body-medium user-label">First Name :</strong><span class="user-info"> Jonathon Smith</span></p>
  <p><strong class="body-medium user-label">Email :</strong><span class="user-info"> jhonathonsmithgmail.com</span></p>
  <p><strong class="body-medium user-label">Phone :</strong><span class="user-info"> +880125412624</span></p>
  <p><strong class="body-medium user-label">Gender :</strong><span class="user-info"> Male</span></p>
</div>

