<div class="login-container">
  <div class="login-header">
    <h1>Login</h1>
    <p>New Account? <a href="#">Sign Up</a></p>
  </div>
  <div class="login-box">
    <h1>Login here</h1>
    <p>Welcome back! Login to your account</p>
    <form>
      <div class="form-group">
        <label for="email">Your email address</label>
        <input type="email" id="email" placeholder="Email@gmail.com" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <input type="password" id="password" placeholder="**********" />
        </div>
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
    <p>Don't have an account? <a href="#">Create Account</a></p>
  </div>
</div>
