<div>
  <div class="login-header d-flex justify-content-between ">
  <p class="small-title">Speedo Transfer</p>
  <button class="close-btn d-flex justify-content-center align-items-center"><mat-icon>close</mat-icon></button>
</div>
<div class="container d-flex justify-content-center align-items-center vh-5">
  <div class="text-center mb-4">
    <h1 class="title-2">Login</h1>
    <p>New Account? <a href="#">Sign Up</a></p>
  </div>
  <div class="card shadow p-4 ">
    <h1 class="mb-3 mt-3 small-title">Login here</h1>
    <p class="text-muted mb-4 body">Welcome back! Login to your account</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="body form-label">Your email address</label>
        <input type="email" id="email" formControlName="email" class="form-control" [(ngModel)]="loginObj.userEmail" placeholder="Email@gmail.com" />
        <div *ngIf="email?.invalid && email?.touched">
          <small *ngIf="email?.errors?.['required']" class="text-danger">Email is required</small>
          <small *ngIf="email?.errors?.['email']" class="text-danger">Enter a valid email address</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="body form-label">Password</label>
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="loginObj.userPassword"
            formControlName="password"
            class="form-control"
            placeholder="**********"
          />
        </div>
        <div *ngIf="password?.invalid && password?.touched">
          <small *ngIf="password?.errors?.['required']" class="text-danger">Password is required</small>
          <small *ngIf="password?.errors?.['minlength']" class="text-danger">Password must be at least 6 characters long</small>
          <small *ngIf="password?.errors?.['passwordStrength']" class="text-danger">{{ password?.errors?.['passwordStrength'] }}</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    <p class="mt-3 body">Don't have an account? <a href="/signUp">Create Account</a></p>
  </div>
</div>
</div>
