<app-navbar></app-navbar>
<div class="header-section">
  <div class="header-content">
    <div class="title">
      <h1>Error</h1>
      <div class="breadcrumb">
        <span>Home</span>
        <span>•</span>
        <span>Error</span>
      </div>
    </div>
    <div class="header-image">
      <img src="coin.png" alt="Money Transfer Icon" />
    </div>
  </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <p class="header">Error</p>
    <img class="mb-5 error-image" src="/error.jpeg" alt="Error Icon" />
    <p class="error-text">A profile is required to perform this action. Please log in or create an account.</p>
    <button class="mb-5" routerLink="/register">
      Register Now
    </button>
</div>
<app-footer></app-footer>
