<nav class="nav-bar">
  <div class="container">
    <a routerLink="/home" class="logo">Speedo Transfer</a>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/money-transfer">Money Transfer</a></li>
      <li><a routerLink="/user-profile">My Account</a></li>
      <li><a routerLink="/help">Help</a></li>
    </ul>

    <!-- Show Login and Register buttons only if the token does not exist and data has loaded -->
    <div class="auth-buttons" *ngIf="!tokenExists && dataLoaded">
      <button mat-button routerLink="/login">Log In</button>
      <button mat-raised-button color="primary" routerLink="/register">
        Register Now
      </button>
    </div>

    <!-- Show the user profile section if the token exists and data has loaded -->
    <div class="profile-section" *ngIf="tokenExists && dataLoaded">
      <div class="profile-icon" *ngIf="username">
        {{ username.slice(0, 2).toUpperCase() }}
      </div>
      <div class="profile-name">{{ username || "Jonathon Smith" }}</div>
      <img
        class="dropdown-icon"
        src="/Icon.png"
        alt="Dropdown Arrow"
        (click)="toggleDropdown()"
      />

      <div class="dropdown-menu" *ngIf="showDropdown">
        <a routerLink="/user-profile">My Account</a>
        <a routerLink="/payment-history">Payment History</a>
        <a routerLink="/settings">Settings</a>
        <a routerLink="/change-password">Change Password</a>
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
