// Primary Colors
$primary-50: #f3e9eb;
$primary-75: #cea3ac;
$primary-100: #b97d8a;
$primary-200: #9b4457;
$primary-300: #871e35;
$primary-400: #5f1525;
$primary-500: #521220;

// Secondary Colors
$secondary-50: #fcf7e9;
$secondary-75: #f4dda3;
$secondary-100: #efcf7d;
$secondary-200: #e8ba44;
$secondary-300: #e3ac1e;
$secondary-400: #9f7815;
$secondary-500: #8a6912;

// Danger Colors
$danger-200: #ff2b52;
$danger-300: #ff002e;

// Grays
$gray-0: #ffffff;
$gray-10: #fbfbfb;
$gray-20: #f6f6f6;
$gray-30: #ededed;
$gray-40: #e3e2e2;
$gray-50: #c8c8c7;
$gray-60: #bbbab9;
$gray-70: #b0afae;
$gray-80: #a3a2a1;
$gray-90: #969593;
$gray-100: #898886;
$gray-200: #7c7a78;
$gray-300: #6e6d6b;
$gray-400: #64625f;
$gray-500: #565552;
$gray-600: #4b4a47;
$gray-700: #3c3a37;
$gray-800: #2f2d29;
$gray-900: #24221e;
