<app-navbar></app-navbar>
<div class="container border mt-5 mb-5">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-3">
      <div class="list-group">
        <a class="body-medium list-group-item list-group-item-action text-decoration-none"
           routerLink="/profile" routerLinkActive="active" href="/user-profile/my-profile">My Profile</a>

        <a class="body-medium list-group-item list-group-item-action text-decoration-none"
           routerLink="/payments-history" routerLinkActive="active" href="/user-profile/payments-history">Payments History</a>

        <a class="body-medium list-group-item list-group-item-action text-decoration-none"
           routerLink="/settings" routerLinkActive="active" href="/user-profile/settings">Settings</a>

        <a class="body-medium list-group-item list-group-item-action text-decoration-none"
           routerLink="/change-password" routerLinkActive="active" href="/user-profile/change-password">Change Password</a>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col-9">
      <div class="content p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<app-mobileappshared></app-mobileappshared>
<app-footer></app-footer>
