@import '../../../styles/typography.scss';
@import '../../../styles/colors.scss';

.login-header{
  margin: 4rem;
  @media (max-width: 768px) {
    margin: 1rem;
  }
  @media (max-width: 1200px) {
    margin: 2rem;
  }
}
.close-btn{
  border: none;
  background: none;
  cursor: pointer;
  color: $gray-900;
  width: 40px;
  height: 40px;
  border-radius: 20px;

  &:hover {
    background-color: $gray-40;
  }
}
.card {
  max-width: 500px;
  margin: auto;
}

.submit-btn {
  background: none;
  border: none;
  font-size: 0.875rem;
  color: white;
  border-radius: 5px;
  background-color: $primary-300;
  border: none;
  cursor: pointer;
  height: 50px;
  
  &:hover {
    background-color: $primary-400;
  }
}

a {
  color: $primary-300;
  text-decoration: underline;

  &:hover {
    color: $primary-400;
  }
}


// Use the mixins in your styles
// h1 {
//   @include h1;
// }

// h2 {
//   @include h2;
// }

// h3 {
//   @include h3;
// }

.title {
  @include title;
}

.title-2 {
  @include title2;
}

.small-title {
  @include small-title;
}

.small-title-2 {
  @include small-title2;
}

p {
  @include paragraph;
}

p.bold {
  @include paragraph-bold;
}

.body {
  @include body;
}

.body-medium {
  @include body-medium;
}

.small-font {
  @include small-font;
}
