<div class="container">
      <h2 class="small-title mb-4">Settings</h2>
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="p nav-link" href="/settings">Profile</a>
        </li>
        <li class="nav-item">
          <a class="p nav-link active" href="#">Change password</a>
        </li>
      </ul>
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
          <div class="col-md-6">
            <label for="currentPassword" class="body form-label">Current password</label>
            <input type="password" class="body form-control" id="currentPassword" formControlName="currentPassword" placeholder="Type here">
          </div>
          <div class="col-md-6">
            <label for="newPassword" class="body form-label">New password</label>
            <input type="password" class="body form-control" id="newPassword" formControlName="newPassword" placeholder="Type here">
          </div>
        </div>
        <button type="submit" class="body-medium btn btn-primary">Update Password</button>
      </form>
    </div>
