<div class="container">
      <h2 class="small-title mb-4">Settings</h2>
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="p nav-link active" href="/user-profile/settings">Profile</a>
        </li>
        <li class="nav-item">
          <a class="p nav-link" href="/user-profile/change-password">Change password</a>
        </li>
      </ul>
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="fullName" class="body form-label">Full Name</label>
          <input type="text" class="body form-control" id="fullName" formControlName="fullName">
        </div>
        <div class="mb-3">
          <label for="country" class="body form-label">Country</label>
          <input type="text" class="body form-control" id="country" formControlName="country">
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="phone" class="body form-label">Phone</label>
            <input type="tel" class="body form-control" id="phone" formControlName="phone">
          </div>
          <div class="col">
            <label for="email" class="body form-label">Email</label>
            <input type="email" class="body form-control" id="email" formControlName="email">
          </div>
        </div>
        <button type="submit" class="body-medium btn btn-primary">Update Profile</button>
      </form>
    </div>
