<div>
  <h1 class="small-title">Payment History</h1>
  <div class="card mb-4">
    <div class="card-header body-medium header-color">
      <span class="account-number">Account Number: 6785 4987 6543</span>
      <mat-icon class="file-icon">file_copy</mat-icon>
    </div>
    <div class="card-body">
      <div class="info-left">
        <p class="mb-0 body-medium header-color">Account Details</p>
        <p class="mb-0 body info-color">Recipient Name</p>
      </div>
      <div class="info-right">
        <p class="mb-0 body-medium header-color">Total Price: 1000EGP</p>
        <p class="mb-0 body info-color">Jonathon Smith</p>
      </div>
    </div>
  </div>
</div>
